<!-- 
    -ean
    -Kategorie Dropdown
    -Name
    -MHD
    -stock count
    -content
    -content unit

-->

<mat-toolbar>
        <!-- <mat-icon (click)="goBack()">keyboard_backspace</mat-icon> -->
        <!-- <h1>{{Product.name}}</h1> -->
        <h1>Produkt ändern: {{detailedProduct.name}}</h1>
    </mat-toolbar>

<mat-card>
              <mat-form-field>
                    <input matInput placeholder="Name" [(ngModel)]="c_name">
                  </mat-form-field>
                                     
                  
    <mat-form-field>
            <mat-select placeholder="Kategorie" [(ngModel)]="c_category">
                <mat-option *ngFor="let item of categories" [value]="c_category">{{item}}</mat-option>
                </mat-select>
          </mat-form-field>
        </mat-card>   
<mat-card>
  <span>
        <input matInput [matDatepicker]="picker" placeholder="Mindesthaltbarkeitsdatum" [(ngModel)]="c_mhd">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
      </span>
</mat-card>

        <mat-card>
          <mat-form-field>
                <input matInput placeholder="Anzahl (optional)" [(ngModel)]="c_stock_count">
              </mat-form-field>
                                      
              <mat-form-field>
                    <input matInput placeholder="Inhalt (optional)" [(ngModel)]="c_content">
                  </mat-form-field>
                </mat-card>   
                <mat-card>
                  <mat-form-field>
                        <input matInput placeholder="Inhalts Einheit (optional)" [(ngModel)]="c_content_unit">
                      </mat-form-field>

                      <mat-form-field>
                            <input matInput placeholder="EAN (optional)" [(ngModel)]="c_ean">
                          </mat-form-field>
                                    
                        </mat-card>   


                        <mat-card class="footer">
                                <button mat-fab class="plus" (click)="goBack()">x</button>
                                <button mat-fab class="plus" (click)="addProduct()">+</button>
                            </mat-card>