<!-- Startseite der Anwendung und Anzeige des Inhalts des eigenen Kühlschranks -->

<mat-toolbar>
   <h1>Inhalt Deines Kühlschranks:</h1>
</mat-toolbar>

<mat-grid-list cols="5">
        <div *ngFor="let item of productsArray">
                <mat-grid-tile class="gridsize">
                <a mat-button class="grid" routerLink="/product/{{item.stock_id}}/{{item.ean}}">
                <img alt="{{item.name}}" class="grid_pic" src="{{item.img_url}}">    
                <h1>{{item.name}}</h1> 
                </a>
            </mat-grid-tile>
</div>
</mat-grid-list>

<mat-toolbar>
       <h1></h1>
    </mat-toolbar>
<footer>
<mat-card class="footer">
        <button mat-fab class="plus" routerLink="add">+</button>
</mat-card>
</footer>
    <router-outlet></router-outlet>
    
