
<mat-toolbar>
        <!-- <mat-icon (click)="goBack()">keyboard_backspace</mat-icon> -->
        <!-- <h1>{{Product.name}}</h1> -->
        <h1>{{Product.name}}</h1>
    </mat-toolbar>
    



        <mat-card>
                        <img alt="Produktfoto" src="{{stockedProduct.img_url}}">
        </mat-card>
        <mat-card>
                        <h1>Name: {{stockedProduct.stock_count}}</h1>
                </mat-card>   
                <mat-card>
                        <h1>Kategorie: {{stockedProduct.category}}</h1>
                        <h1>Mindestens haltbar bis: {{stockedProduct.mhd}}</h1>                                  
                </mat-card>   
                <mat-card>
                        <h1>Anzahl: {{stockedProduct.stock_count}}</h1>
                        <h1>Menge: {{stockedProduct.content}} {{stockedProduct.content_unit}}</h1>                                  
                </mat-card>   
              

        <mat-card class="footer">
                        <button mat-fab class="plus" (click)="goBack()">x</button>
                <button mat-fab class="minus" routerLink="change/{{stockedProduct.stock_id}}">Ändern</button>
            </mat-card>



            <table mat-table>
                        <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef>Nutrition</th>
                                <td mat-cell *matCellDef="let element"> {{productDetails}} </td>
                              </ng-container>
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> "" </th>
                                <td mat-cell *matCellDef="let element"> {{productDetails}} </td>
                              </ng-container>
                    
                            </table>